
/* selector for id="container" */
#container {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

/*  selector for all "h1" elements
    that are a descendent of id="container"
    and have a class of "fancy-header" */
/*#container h1.fancy-header {*/
     /*color: blue;*/
     /*text-decoration: underline;*/
 /*}*/



h1.fancy-header{
    text-align: center;
    color: purple; /* single line comment */
    text-decoration: underline;
}


h3{
    text-decoration: underline;
    color: blue;
}


header  {
    color: royalblue;
    text-decoration: underline;
    font-weight: bold;
}

body {
    background-color: teal;
    background-image: url("../img/abstract-background-black-and-white-935871.jpg");
    background-position: 50px 150px;

    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: square;
}






/*.fancy-header {*/
    /*color: purple; !* single line comment *!*/
    /*text-decoration: underline;*/
/*}*/







tr, td {
    padding: 8px;
    font-size: 18px;
}

/* unvisited link (:link) */
a:link {
    color:red;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:blue;
}

/* active/selected link (:active) */
a:active {
    color:green;
}